body
{
    background-repeat: no-repeat;
    width: 100%;
    height: 120%;
    margin: 0%;
    background:rgb(241, 56, 23);
    overflow: hidden;
}
p
{
    position: absolute;
    background-color: brown;
    font-size: 30;
}
.p1
{   
    top:0%;
    color: rgb(241, 56, 23);
}
.second
{ 
    top:10%;
    font-size: 25;
    color: rgb(0, 162, 255);
}
.third
{
    top: 25%;
    font-size: 25;
    color: rgb(255, 199, 15);
}
.fourth
{   
    top: 70%;
    left:10%;
    position: absolute;
    font-size: 25;
    color: rgba(126, 235, 37, 0.253);
}
hr{
    position: absolute;
    width: 0%;
    margin-right: 0%;
    align-items: right;
}
img{
    left:5%;
    width: 90%;
    height: 160%;
    position: absolute;
}