body{
    margin: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.lefthalf
{
    margin: 0%;
    overflow: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 50%;
    background: linear-gradient(180deg, #64FFC7 0%, #7CEFFF 100%);
}
.righthalf
{
    margin: 0%;
    overflow: hidden;
    position: absolute;
    top: 0%;
    left: 50%;
    height: 100%;
    width: 50%;
    background: linear-gradient(180deg, #1975FF 4.17%, #6775F1 69.15%);
}
.starttext
{
    position: absolute;
    width: 471px;
    height: 1080px;
    left: 101px;
    top: 92px;
    background: #FFFFFF;
    background-blend-mode: darken;
    opacity: 0.8;
}git
.addthefile
{
    position: absolute;
    width: 494px;
    height: 121px;
    left: 1155px;
    top: 740px;
    font-family: Berlin Sans FB Demi;
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}